.navbar{
    color:white;
    background-color: #081621;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
}

.navBrandName{
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.navBrandName:hover{
    color:white;
}

.navIcon{
    font-size: 20px;
    color:white;
}

.navIcon:hover{
    color:red;
}

.username{
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
}

.logoutBtn{
    font-size: 25px;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer p{
    margin-bottom: 0px;
}

.accountLS{
    font-size:13px;
    display: inline-block;
    padding:0px 10px;
}

.linkNav{
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

.linkNav:hover{
    color:red;
    text-decoration: underline;
    /* color:red; */
}

.or{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}